[submodule "external/rtems"]
	path = modules/rtems
	url = git://git.rtems.org/sebh/rtems.git
[submodule "external/rtems-docs"]
	path = modules/rtems-docs
	url = git://git.rtems.org/rtems-docs.git
[submodule "external/rtems-source-builder"]
	path = modules/rsb
	url = git://git.rtems.org/rtems-source-builder.git
